@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model SpaceparkWebApp.Pages.IndexModel
@{
    ViewData["Title"] = "Auth";
}

<head>
    <link rel="stylesheet" href="~/css/spaceportstyle.css" />
    <script src="~/js/script.js"></script>
</head>

<body>
    <form method="post">
        <div class="centered-section">
            <div id="logo">spacepark</div>
            <div class="login-section">
                <input asp-for="Name" type="text" class="name-input" spellcheck="false" placeholder="Firstname" />
                <button asp-for="submit" class="signin-button">Authenticate</button>
            </div>
        </div>
    </form>
</body>