@page
@model SpaceparkWebApp.Pages.IndexModel
@{
    ViewData["Title"] = "Auth";
}

<head>
    <link rel="stylesheet" href="~/css/spaceportstyle.css" />
    <script src="~/js/script.js"></script>
</head>

<body>
    <div class="centered-section">
        <div id="logo">spacepark</div>
        <div class="login-section">
            <input type="text" class="name-input" spellcheck="false" placeholder="Firstname" />
            <input type="text" class="name-input" spellcheck="false" placeholder="Lastname" />
            <button class="signin-button">Authenticate</button>
        </div>
    </div>
</body>
